# Credit Score Classification

# Problem Statement:

To develop a predictive model for classifying individuals into credit score categories based on their financial data and other relevant factors. Accurate credit scoring is crucial for the financial institutions to assess the reliability of applicants and manage risk effectively as it leads to less default.

In [1]:
# Importing Related Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

# Libraries for KNN IMPUTER 
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

In [2]:
# Reading the file
df = pd.read_csv('train.csv')

In [3]:
print('Rows:',df.shape[0])
print('Columns:',df.shape[1])

Rows: 100000
Columns: 28

In [4]:
# Displaying First 5 Rows of the data
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [5]:
# Checking for the null columns
df.isnull().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [6]:
# Five point summary of the Numerical columns
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Monthly_Inhand_Salary,84998.0,4194.170850,3183.686167,303.645417,1625.568229,3093.745000,5957.448333,15204.633333
Num_Bank_Accounts,100000.0,17.091280,117.404834,-1.000000,3.000000,6.000000,7.000000,1798.000000
Num_Credit_Card,100000.0,22.474430,129.057410,0.000000,4.000000,5.000000,7.000000,1499.000000
Interest_Rate,100000.0,72.466040,466.422621,1.000000,8.000000,13.000000,20.000000,5797.000000
Delay_from_due_date,100000.0,21.068780,14.860104,-5.000000,10.000000,18.000000,28.000000,67.000000
Num_Credit_Inquiries,98035.0,27.754251,193.177339,0.000000,3.000000,6.000000,9.000000,2597.000000
Credit_Utilization_Ratio,100000.0,32.285173,5.116875,20.000000,28.052567,32.305784,36.496663,50.000000
Total_EMI_per_month,100000.0,1403.118217,8306.041270,0.000000,30.306660,69.249473,161.224249,82331.000000

In [7]:
# Summary of Categorical Columns
df.describe(include = object).T

,count,unique,top,freq
ID,100000,100000,0x1602,1
Customer_ID,100000,12500,CUS_0xd40,8
Month,100000,8,January,12500
Name,90015,10139,Langep,44
Age,100000,1788,38,2833
SSN,100000,12501,#F%$D@*&8,5572
Occupation,100000,16,_______,7062
Annual_Income,100000,18940,36585.12,16
Num_of_Loan,100000,434,3,14386
Type_of_Loan,88592,6260,Not Specified,1408
Num_of_Delayed_Payment,92998,749,19,5327
Changed_Credit_Limit,100000,4384,_,2091
Credit_Mix,100000,4,Standard,36479
Outstanding_Debt,100000,13178,1360.45,24
Credit_History_Age,90970,404,15 Years and 11 Months,446
Payment_of_Min_Amount,100000,3,Yes,52326
Amount_invested_monthly,95521,91049,__10000__,4305
Payment_Behaviour,100000,7,Low_spent_Small_value_payments,25513
Monthly_Balance,98800,98792,__-333333333333333333333333333__,9
Credit_Score,100000,3,Standard,53174

# Data cleaning

In [8]:
# Checking for the unique value count in Customer_ID
df.Customer_ID.nunique()

12500

In [9]:
# Splitting the sub category and getting the count of Type_of_Loan 

len(df.Type_of_Loan[0].split(','))

4

In [10]:
# Treating the noise in the Num_of_Loan

df.Num_of_Loan =df.Num_of_Loan.str.replace('_','')
df.Num_of_Loan = df.Num_of_Loan.replace('-','')

In [11]:
df.Num_of_Loan.isnull().sum()

0

In [12]:
df.Num_of_Loan.dtype

dtype('O')

In [13]:
# Exploring Num_of_Loan column for more possible noise

df.Num_of_Loan.unique()

# Num of loan has many absurd values so we will not use it and remove it

array(['4', '1', '3', '967', '-100', '0', '2', '7', '5', '6', '8', '9',
       '1464', '622', '352', '472', '1017', '945', '146', '563', '341',
       '444', '720', '1485', '49', '737', '1106', '466', '728', '313',
       '843', '597', '617', '119', '663', '640', '92', '1019', '501',
       '1302', '39', '716', '848', '931', '1214', '186', '424', '1001',
       '1110', '1152', '457', '1433', '1187', '52', '1480', '1047',
       '1035', '1347', '33', '193', '699', '329', '1451', '484', '132',
       '649', '995', '545', '684', '1135', '1094', '1204', '654', '58',
       '348', '614', '1363', '323', '1406', '1348', '430', '153', '1461',
       '905', '1312', '1424', '1154', '95', '1353', '1228', '819', '1006',
       '795', '359', '1209', '590', '696', '1185', '1465', '911', '1181',
       '70', '816', '1369', '143', '1416', '455', '55', '1096', '1474',
       '420', '1131', '904', '89', '1259', '527', '1241', '449', '983',
       '418', '319', '23', '238', '638', '138', '235', '280', '1070',
       '1484', '274', '494', '1459', '404', '1354', '1495', '1391', '601',
       '1313', '1319', '898', '231', '752', '174', '961', '1046', '834',
       '284', '438', '288', '1463', '1151', '719', '198', '1015', '855',
       '841', '392', '1444', '103', '1320', '745', '172', '252', '630',
       '241', '31', '405', '1217', '1030', '1257', '137', '157', '164',
       '1088', '1236', '777', '1048', '613', '330', '1439', '321', '661',
       '952', '939', '562', '1202', '302', '943', '394', '955', '1318',
       '936', '781', '100', '1329', '1365', '860', '217', '191', '32',
       '282', '351', '1387', '757', '416', '833', '292', '1225', '1227',
       '639', '859', '243', '267', '510', '332', '996', '311', '492',
       '820', '336', '123', '540', '131', '1311', '1441', '895', '891',
       '50', '940', '935', '596', '29', '1182', '1129', '1014', '251',
       '365', '291', '1447', '742', '1085', '148', '462', '832', '881',
       '1412', '785', '1127', '910', '538', '999', '733', '101', '237',
       '87', '659', '633', '387', '447', '629', '831', '1384', '773',
       '621', '1419', '289', '285', '1393', '27', '1359', '1482', '1189',
       '1294', '201', '579', '814', '141', '581', '1171', '295', '290',
       '433', '679', '1040', '1054', '1430', '1023', '1077', '1457',
       '1150', '701', '1382', '889', '437', '372', '1222', '126', '1159',
       '868', '19', '1297', '227', '190', '809', '1216', '1074', '571',
       '520', '1274', '1340', '991', '316', '697', '926', '873', '1002',
       '378', '65', '875', '867', '548', '652', '1372', '606', '1036',
       '1300', '17', '1178', '802', '1219', '1271', '1137', '1496', '439',
       '196', '636', '192', '228', '1053', '229', '753', '1296', '1371',
       '254', '863', '464', '515', '838', '1160', '1289', '1298', '799',
       '182', '574', '242', '415', '869', '958', '54', '1265', '656',
       '275', '778', '208', '147', '350', '507', '463', '497', '927',
       '653', '662', '529', '635', '1027', '897', '1039', '1345', '924',
       '1279', '546', '1112', '1210', '526', '300', '1103', '504', '136',
       '1400', '78', '686', '1091', '344', '215', '84', '628', '1470',
       '968', '1478', '83', '1196', '1307', '1132', '1008', '917', '657',
       '56', '18', '41', '801', '978', '216', '349', '966'], dtype=object)

In [14]:
# Now we will try to find out the possible pattern through Type_of_Loan.

df[df.Type_of_Loan.notnull()]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [15]:
# Generating a new column by deriving values through the segmentation of data in Type_of_Loan

list = []
for i in range(df.shape[0]):
    if pd.isna(df.iloc[i,13]) == True:
        list.append(np.nan)
    else:
        list.append(len(df.Type_of_Loan[i].split(',')))

In [16]:
list = pd.Series(list)
df['Num_of_loan2'] = list

In [17]:
## cleaning credit history age and converting it into number
extracted_Data = df['Credit_History_Age'].str.extract(r'(\d+) Years and (\d+) Months')

In [18]:
df['Credit_History_Age'] = extracted_Data[0]+'.'+extracted_Data[1]
#converted extracted date to year.months
#now we can either round off or remove month

In [19]:
df['Age'] = df.Age.str.replace('-','')
#cleaning age

In [20]:
df['Age'] = df.Age.str.replace('_','')
#now we have cleaned age

In [21]:
#as age has no null value we will try to change it to int
df['Age'] = df.Age.astype(int)

In [22]:
## Treating Annual Income
df.Annual_Income.value_counts()

36585.12     16
20867.67     16
17273.83     16
9141.63      15
33029.66     15
             ..
20269.93_     1
15157.25_     1
44955.64_     1
76650.12_     1
4262933.0     1
Name: Annual_Income, Length: 18940, dtype: int64

In [23]:
df.Annual_Income = df.Annual_Income.str.replace('_','')

In [24]:
df.Annual_Income = df.Annual_Income.str.replace('-','')

In [25]:
df.Annual_Income = df.Annual_Income.astype(float)
df.Annual_Income.dtype

dtype('float64')

In [26]:
#now we take up amount invested monthly
df.Amount_invested_monthly.value_counts()

__10000__             4305
0.0                    169
80.41529543900253        1
36.66235139442514        1
89.7384893604547         1
                      ...
36.541908593249026       1
93.45116318631192        1
140.80972223052834       1
38.73937670100975        1
167.1638651610451        1
Name: Amount_invested_monthly, Length: 91049, dtype: int64

In [27]:
#cleaning Amount_invested_monthly
df.Amount_invested_monthly = df.Amount_invested_monthly.str.replace('_','').replace('-','')

In [28]:
df.Amount_invested_monthly = df.Amount_invested_monthly.astype(float)
#after cleaning we convert it to float

In [29]:
df.Monthly_Balance = df.Monthly_Balance.str.replace('_','').replace('-','')

In [30]:
df.Monthly_Balance = df.Monthly_Balance.astype(float)

In [31]:
df.Num_of_Delayed_Payment = df.Num_of_Delayed_Payment.str.replace('_','').replace('-','')

df.Num_of_Delayed_Payment = df.Num_of_Delayed_Payment.astype(float)

In [32]:
df.Num_Credit_Inquiries = df.Num_Credit_Inquiries.astype(float)

In [33]:
df.Credit_History_Age = df.Credit_History_Age.astype(float)

In [34]:

df.Outstanding_Debt.value_counts()
#now we will clean it

1360.45     24
460.46      23
1151.7      23
1109.03     23
467.7       16
            ..
245.46_      1
645.77_      1
174.79_      1
1181.13_     1
1013.53_     1
Name: Outstanding_Debt, Length: 13178, dtype: int64

In [35]:
df.Outstanding_Debt = df.Outstanding_Debt.str.replace('_','').replace('-','')
df.Outstanding_Debt = df.Outstanding_Debt.astype(float)

In [36]:
#now we will take up changed credit limit
df.Changed_Credit_Limit.value_counts()

_                     2091
8.22                   133
11.5                   127
11.32                  126
7.35                   121
                      ...
-1.84                    1
0.8899999999999999       1
28.06                    1
1.5599999999999996       1
21.17                    1
Name: Changed_Credit_Limit, Length: 4384, dtype: int64

In [37]:
df.Changed_Credit_Limit = df.Changed_Credit_Limit.str.replace('_','')

df.Changed_Credit_Limit[df.Changed_Credit_Limit == ''] = np.nan

df.Changed_Credit_Limit = df.Changed_Credit_Limit.astype('float')

In [38]:
##all the data has been cleaned of junk characters and variables, now we will begin with missing values and garbage cleaning

# Garbage and Missing value treatment

In [39]:
df["Num_of_loan2"].isnull().sum()

11408

In [40]:
df.Num_of_loan2.value_counts()

3.0    15752
2.0    15712
4.0    15456
1.0    11128
6.0     8144
7.0     7680
5.0     7528
9.0     3856
8.0     3336
Name: Num_of_loan2, dtype: int64

In [41]:
# Filling null values in the Num_of_loan2 column by replacing them with zeros obtained from the old loan column(Num_of_Loan).

df.loc[(df.Num_of_loan2.isnull()) & (df.Num_of_Loan == '0'), 'Num_of_loan2'] = 0

In [42]:
#df['Num_of_loan2'] = df['Num_of_loan2'].astype(int)
# after fixing null values we will covert to int

In [43]:
df.loc[(df.Num_of_loan2.isnull())]

#we can remove these 478 remaining values as they have no pattern or nothong

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Num_of_loan2
34,0x1634,CUS_0x1cdb,March,Deepaa,21,615-06-7821,Developer,35547.710,2853.309167,7,...,943.86,23.462303,30.1,Yes,0.000000,173.138651,Low_spent_Medium_value_payments,392.192266,Standard,NaN
39,0x1639,CUS_0x1cdb,August,Deepaa,21,615-06-7821,Developer,35547.710,2853.309167,7,...,943.86,25.862922,31.3,Yes,0.000000,181.330901,High_spent_Small_value_payments,364.000016,Standard,NaN
180,0x170e,CUS_0xac86,May,Nickb,20,028-16-4402,Entrepreneur,106733.130,8873.427500,4,...,76.23,28.820554,33.1,No,0.000000,345.609135,High_spent_Medium_value_payments,791.733615,Good,NaN
327,0x17e9,CUS_0xb5ff,August,Nateg,33,060-81-1328,Media_Manager,12909.895,853.824583,5,...,602.50,23.579851,17.8,No,0.000000,60.052635,Low_spent_Medium_value_payments,305.329824,Standard,NaN
355,0x1815,CUS_0xaedb,April,Olivia Oranr,19,272-47-1135,Musician,85554.030,7185.502500,4,...,1095.73,31.360245,19.1,No,0.000000,303.664687,Low_spent_Large_value_payments,684.885563,Good,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99611,0x25da9,CUS_0x2829,April,Alistair Barre,31,172-85-1573,Journalist,64901.370,5298.447500,3,...,442.06,29.639741,31.1,Yes,0.000000,162.171160,High_spent_Medium_value_payments,NaN,Standard,NaN
99612,0x25daa,CUS_0x2829,May,Alistair Barre,32,172-85-1573,Journalist,64901.370,5298.447500,3,...,442.06,37.699808,NaN,Yes,0.000000,97.413190,High_spent_Large_value_payments,NaN,Standard,NaN
99630,0x25dc4,CUS_0x738b,July,Leahh,25,769-44-1950,Accountant,123828.520,9317.324054,4,...,1288.43,39.099750,32.7,NM,999.719279,NaN,Low_spent_Medium_value_payments,NaN,Good,NaN
99663,0x25df5,CUS_0x30fc,August,Zoran Radosavljevicl,28,209-55-1275,Manager,90781.530,7505.127500,7,...,494.51,36.809951,NaN,Yes,0.000000,688.256875,Low_spent_Medium_value_payments,NaN,Standard,NaN
99859,0x25f1d,CUS_0x1285,April,Lauriay,43,540-18-1115,Architect,10692.160,817.013333,8,...,1350.85,31.460700,31.8,Yes,0.000000,49.033808,Low_spent_Large_value_payments,NaN,Standard,NaN

In [44]:
#df.drop(df.loc[(df.Num_of_loan2.isnull())],axis = 0)
#df.shape
#df.Num_of_loan2.dropna()
#df['Num_of_loan2'].dropna(inplace=True,)
#df.drop(df.Num_of_loan2.isnull(), axis = 0).reset_index(drop = True)
df.dropna(subset = 'Num_of_loan2',inplace= True)

In [45]:
df.Num_of_loan2.isnull().sum()

0

In [46]:
df.Num_of_loan2.value_counts()

3.0    15752
2.0    15712
4.0    15456
1.0    11128
0.0    10930
6.0     8144
7.0     7680
5.0     7528
9.0     3856
8.0     3336
Name: Num_of_loan2, dtype: int64

In [47]:
df.isnull().sum()
# we will remove name so no need for imputing null value for name
# type of loan also remove so no need to impute

ID                              0
Customer_ID                     0
Month                           0
Name                         9944
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       14932
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                10930
Delay_from_due_date             0
Num_of_Delayed_Payment       6968
Changed_Credit_Limit         2083
Num_Credit_Inquiries         1954
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           8993
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4451
Payment_Behaviour               0
Monthly_Balance              2856
Credit_Score                    0
Num_of_loan2                    0
dtype: int64

In [48]:
##cleaning occupation

In [49]:
df['Occupation'].value_counts()

_______          7024
Lawyer           6553
Architect        6326
Engineer         6315
Mechanic         6273
Scientist        6271
Accountant       6239
Media_Manager    6202
Developer        6197
Teacher          6186
Entrepreneur     6146
Doctor           6069
Journalist       6054
Manager          5941
Musician         5872
Writer           5854
Name: Occupation, dtype: int64

In [50]:
df[df.Occupation == '_______']

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Num_of_loan2
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,605.03,24.464031,26.70,No,18.816215,104.291825,Low_spent_Small_value_payments,470.690627,Standard,1.0
16,0x161a,CUS_0x2dbc,January,Langep,34,486-85-3974,_______,143162.64,12187.220000,1,...,1303.01,28.616735,17.90,No,246.992319,168.413703,!@9#%8,1043.315978,Good,3.0
18,0x161c,CUS_0x2dbc,March,Langep,34,486-85-3974,_______,143162.64,NaN,1,...,1303.01,26.519815,17.11,No,246.992319,10000.000000,High_spent_Small_value_payments,715.741367,Good,3.0
20,0x161e,CUS_0x2dbc,May,Langep,34,486-85-3974,_______,143162.64,12187.220000,1,...,1303.01,31.376150,18.10,No,246.992319,430.947528,Low_spent_Large_value_payments,810.782153,Good,3.0
29,0x162b,CUS_0xb891,June,Jasond,55,#F%$D@*&8,_______,30689.89,2612.490833,2,...,632.46,27.445422,17.80,No,16.415452,84.952848,High_spent_Small_value_payments,419.880784,Standard,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99920,0x25f7a,CUS_0x2654,January,enj,37,647-67-8889,_______,139664.96,11777.746667,3,...,365.66,31.043048,29.70,Yes,423.731016,282.782346,High_spent_Large_value_payments,NaN,Standard,4.0
99935,0x25f8d,CUS_0xb11c,August,Yinka Adegokej,38,546-94-4789,_______,15319.65,1460.637500,6,...,1453.61,34.557510,11.40,Yes,28.182033,191.877779,Low_spent_Small_value_payments,NaN,Poor,4.0
99937,0x25f93,CUS_0xad4f,February,Sabina Zawadzkig,500,226-45-0652,_______,22620.79,1722.065833,7,...,642.46,31.841872,NaN,No,0.000000,105.076293,Low_spent_Large_value_payments,NaN,Standard,0.0
99943,0x25f99,CUS_0xad4f,August,Sabina Zawadzkig,48,226-45-0652,_______,22620.79,NaN,6,...,642.46,34.026427,29.10,No,0.000000,205.217280,Low_spent_Small_value_payments,NaN,Poor,0.0
99989,0x25fdf,CUS_0x8600,June,Sarah McBridec,28,031-35-0942,_______,20002.88,1929.906667,10,...,3571.70,33.359987,6.10,Yes,60.964772,74.366603,!@9#%8,NaN,Standard,5.0

In [51]:
df[df.Name == 'Langep']

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Num_of_loan2
16,0x161a,CUS_0x2dbc,January,Langep,34,486-85-3974,_______,143162.640,12187.220000,1,...,1303.01,28.616735,17.90,No,246.992319,168.413703,!@9#%8,1043.315978,Good,3.0
18,0x161c,CUS_0x2dbc,March,Langep,34,486-85-3974,_______,143162.640,NaN,1,...,1303.01,26.519815,17.11,No,246.992319,10000.000000,High_spent_Small_value_payments,715.741367,Good,3.0
19,0x161d,CUS_0x2dbc,April,Langep,34,486-85-3974,Engineer,143162.640,12187.220000,1,...,1303.01,39.501648,NaN,No,246.992319,825.216270,Low_spent_Medium_value_payments,426.513411,Good,3.0
20,0x161e,CUS_0x2dbc,May,Langep,34,486-85-3974,_______,143162.640,12187.220000,1,...,1303.01,31.376150,18.10,No,246.992319,430.947528,Low_spent_Large_value_payments,810.782153,Good,3.0
21,0x161f,CUS_0x2dbc,June,Langep,34,486-85-3974,Engineer,143162.640,12187.220000,1,...,1303.01,39.783993,18.20,No,246.992319,257.808099,High_spent_Medium_value_payments,963.921581,Good,3.0
23,0x1621,CUS_0x2dbc,August,Langep,34,486-85-3974,Engineer,143162.640,12187.220000,1,...,1303.01,38.374753,18.40,No,246.992319,10000.000000,High_spent_Small_value_payments,895.494583,Standard,3.0
11872,0x5b92,CUS_0xaf95,January,Langep,38,917-87-3520,Accountant,10418.045,994.170417,9,...,3599.97,25.100129,8.70,Yes,27.594591,38.346524,Low_spent_Small_value_payments,323.475926,Standard,6.0
11873,0x5b93,CUS_0xaf95,February,Langep,38,917-87-3520,_______,10418.045,994.170417,9,...,3599.97,39.090271,8.80,Yes,27.594591,91.720676,Low_spent_Large_value_payments,250.101775,Standard,6.0
11874,0x5b94,CUS_0xaf95,March,Langep,38,917-87-3520,Accountant,10418.045,994.170417,9,...,3599.97,34.731204,NaN,NM,27.594591,107.005518,Low_spent_Small_value_payments,254.816932,Standard,6.0
11875,0x5b95,CUS_0xaf95,April,Langep,38,917-87-3520,Accountant,10418.045,994.170417,9,...,3599.97,23.725047,8.10,Yes,27.594591,49.791413,Low_spent_Small_value_payments,312.031038,Standard,6.0
11876,0x5b96,CUS_0xaf95,May,Langep,38,917-87-3520,Accountant,10418.045,994.170417,9,...,3599.97,29.596306,8.11,Yes,27.594591,39.661098,!@9#%8,322.161353,Standard,6.0
11877,0x5b97,CUS_0xaf95,June,Langep,38,917-87-3520,Accountant,10418.045,994.170417,9,...,3599.97,25.640773,9.00,Yes,54106.000000,88.849888,Low_spent_Small_value_payments,272.972562,Standard,6.0
11878,0x5b98,CUS_0xaf95,July,Langep,39,#F%$D@*&8,Accountant,10418.045,NaN,9,...,3599.97,24.789920,9.10,Yes,27.594591,83.308248,Low_spent_Small_value_payments,278.514203,Standard,6.0
11879,0x5b99,CUS_0xaf95,August,Langep,39,917-87-3520,Accountant,10418.045,994.170417,9,...,3599.97,26.751006,9.20,Yes,27.594591,30.093083,Low_spent_Medium_value_payments,321.729368,Standard,6.0
44856,0x11cd6,CUS_0x109d,January,Langep,500,260-21-1290,Writer,49140.870,4377.072500,10,...,2950.80,28.875662,NaN,NM,154.172426,113.594707,High_spent_Large_value_payments,409.940117,Standard,6.0
44857,0x11cd7,CUS_0x109d,February,Langep,44,260-21-1290,Writer,49140.870,4377.072500,10,...,2950.80,25.294527,6.00,Yes,154.172426,NaN,!@9#%8,361.536898,Standard,6.0
44858,0x11cd8,CUS_0x109d,March,Langep,45,#F%$D@*&8,Writer,49140.870,4377.072500,232,...,2950.80,34.142258,6.10,Yes,154.172426,177.298309,High_spent_Small_value_payments,366.236515,Standard,6.0
44859,0x11cd9,CUS_0x109d,April,Langep,45,260-21-1290,Writer,49140.870,4377.072500,10,...,2950.80,26.586091,6.20,NM,154.172426,102.231219,High_spent_Large_value_payments,421.303604,Standard,6.0
44860,0x11cda,CUS_0x109d,May,Langep,45,260-21-1290,Writer,49140.870,4377.072500,10,...,2950.80,40.657363,6.30,Yes,154.172426,112.356043,High_spent_Small_value_payments,431.178781,Standard,6.0
44861,0x11cdb,CUS_0x109d,June,Langep,45,260-21-1290,Writer,49140.870,4377.072500,10,...,2950.80,28.706417,6.40,Yes,154.172426,226.731296,High_spent_Small_value_payments,316.803528,Standard,6.0
44862,0x11cdc,CUS_0x109d,July,Langep,45,260-21-1290,Writer,49140.870,4377.072500,10,...,2950.80,28.446317,6.50,Yes,154.172426,269.190939,High_spent_Small_value_payments,274.343885,Standard,6.0
44863,0x11cdd,CUS_0x109d,August,Langep,45,260-21-1290,Writer,49140.870,4377.072500,10,...,2950.80,31.163786,6.60,NM,154.172426,301.593795,Low_spent_Small_value_payments,271.941029,Standard,6.0
53272,0x14e26,CUS_0x4854,January,Langep,44,564-50-3217,Accountant,66012.280,5400.023333,10,...,3696.36,38.731936,13.70,Yes,227.301860,10000.000000,High_spent_Medium_value_payments,441.231197,Standard,6.0
53273,0x14e27,CUS_0x4854,February,Langep,44,564-50-3217,Accountant,66012.280,5400.023333,10,...,3696.36,38.395068,13.80,Yes,227.301860,302.328788,High_spent_Small_value_payments,270.371686,Standard,6.0
53274,0x14e28,CUS_0x4854,March,Langep,44,564-50-3217,Accountant,66012.280,NaN,10,...,3696.36,33.302369,13.90,Yes,227.301860,285.728217,Low_spent_Small_value_payments,316.972257,Standard,6.0
53275,0x14e29,CUS_0x4854,April,Langep,44,564-50-3217,Accountant,66012.280,5400.023333,10,...,3696.36,39.774138,13.10,Yes,227.301860,226.804565,Low_spent_Small_value_payments,375.895908,Standard,6.0
53276,0x14e2a,CUS_0x4854,May,Langep,44,564-50-3217,Accountant,66012.280,NaN,10,...,3696.36,26.076722,13.11,Yes,227.301860,NaN,Low_spent_Small_value_payments,NaN,Standard,6.0
53277,0x14e2b,CUS_0x4854,June,Langep,44,#F%$D@*&8,Accountant,66012.280,5400.023333,10,...,3696.36,23.408542,14.00,Yes,227.301860,353.263028,High_spent_Small_value_payments,219.437445,Standard,6.0
53278,0x14e2c,CUS_0x4854,July,Langep,44,564-50-3217,Accountant,66012.280,5400.023333,10,...,3696.36,27.893745,14.10,Yes,227.301860,219.868867,Low_spent_Large_value_payments,362.831606,Standard,6.0
53279,0x14e2d,CUS_0x4854,August,Langep,44,564-50-3217,Accountant,66012.280,5400.023333,10,...,3696.36,29.570505,14.20,Yes,227.301860,118.053016,High_spent_Medium_value_payments,444.647458,Standard,6.0
61376,0x17da2,CUS_0xba1c,January,Langep,32,419-82-4747,Lawyer,41757.440,3317.786667,6,...,1360.45,33.287966,17.40,Yes,100.069628,35.226764,!@9#%8,436.482274,Poor,3.0
61377,0x17da3,CUS_0xba1c,February,Langep,32,419-82-4747,Lawyer,41757.440,3317.786667,6,...,1360.45,34.432490,17.50,Yes,100.069628,116.263980,High_spent_Medium_value_payments,365.445059,Poor,3.0
61378,0x17da4,CUS_0xba1c,March,Langep,32,419-82-4747,Lawyer,41757.440,NaN,6,...,1360.45,34.007853,17.60,Yes,100.069628,66.570683,!@9#%8,425.138356,Poor,3.0
61379,0x17da5,CUS_0xba1c,April,Langep,32,419-82-4747,Lawyer,41757.440,3317.786667,6,...,1360.45,25.616749,17.70,Yes,100.069628,31.565207,High_spent_Large_value_payments,440.143831,Standard,3.0
61381,0x17da7,CUS_0xba1c,June,Langep,32,419-82-4747,Lawyer,41757.440,3317.786667,6,...,1360.45,38.816413,17.90,NM,100.069628,79.967735,High_spent_Large_value_payments,391.741304,Poor,3.0
61382,0x17da8,CUS_0xba1c,July,Langep,32,419-82-4747,Lawyer,41757.440,3317.786667,6,...,1360.45,28.265031,17.10,Yes,100.069628,248.389449,Low_spent_Small_value_payments,273.319589,Poor,3.0
61383,0x17da9,CUS_0xba1c,August,Langep,33,419-82-4747,Lawyer,41757.440,NaN,6,...,1360.45,37.542362,17.11,Yes,100.069628,117.109002,High_spent_Small_value_payments,374.600037,Poor,3.0
76872,0x1d86e,CUS_0x7a96,January,Langep,29,255-67-1198,Manager,24424.700,2051.391667,8,...,626.57,26.238410,22.20,Yes,0.000000,NaN,Low_spent_Small_value_payments,336.324382,Standard,0.0
76873,0x1d86f,CUS_0x7a96,February,Langep,29,255-67-1198,Manager,24424.700,2051.391667,8,...,626.57,27.436075,22.30,NM,0.000000,34.482412,High_spent_Large_value_payments,410.656754,Standard,0.0
76874,0x1d870,CUS_0x7a96,March,Langep,29,255-67-1198,Manager,24424.700,2051.391667,8,...,626.57,35.133788,22.40,Yes,0.000000,33.299352,High_spent_Medium_value_payments,421.839814,Standard,0.0
76875,0x1d871,CUS_0x7a96,April,Langep,29,255-67-1198,Manager,24424.700,2051.391667,8,...,626.57,38.554934,22.50,Yes,0.000000,67.214001,Low_spent_Large_value_payments,407.925166,Standard,0.0
76876,0x1d872,CUS_0x7a96,May,Langep,30,255-67-1198,Manager,24424.700,2051.391667,8,...,626.57,26.159936,22.60,Yes,0.000000,48.404571,High_spent_Small_value_payments,416.734596,Standard,0.0
76878,0x1d874,CUS_0x7a96,July,Langep,30,255-67-1198,Manager,24424.700,NaN,8,...,626.57,29.053649,22.80,Yes,0.000000,198.737512,Low_spent_Small_value_payments,296.401654,Standard,0.0
76879,0x1d875,CUS_0x7a96,August,Langep,30,255-67-1198,Manager,24424.700,2051.391667,8,...,626.57,41.621925,22.90,Yes,0.000000,NaN,!@9#%8,364.518337,Standard,0.0

In [52]:
df[df.Customer_ID == 'CUS_0xb11c']

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Num_of_loan2
99928,0x25f86,CUS_0xb11c,January,Yinka Adegokej,38,546-94-4789,Manager,15319.65,NaN,6,...,1453.61,36.518222,10.90,Yes,28.182033,167.888435,Low_spent_Small_value_payments,NaN,Poor,4.0
99929,0x25f87,CUS_0xb11c,February,Yinka Adegokej,38,546-94-4789,Manager,15319.65,1460.6375,6,...,1453.61,39.705561,10.10,Yes,28.182033,162.662497,Low_spent_Small_value_payments,NaN,Poor,4.0
99930,0x25f88,CUS_0xb11c,March,Yinka Adegokej,38,546-94-4789,Manager,15319.65,1460.6375,6,...,1453.61,37.266724,10.11,Yes,28.182033,91.565818,Low_spent_Medium_value_payments,NaN,Poor,4.0
99931,0x25f89,CUS_0xb11c,April,Yinka Adegokej,38,546-94-4789,Manager,15319.65,1460.6375,6,...,1453.61,34.243058,11.00,Yes,28.182033,0.000000,High_spent_Large_value_payments,NaN,Standard,4.0
99932,0x25f8a,CUS_0xb11c,May,Yinka Adegokej,38,546-94-4789,Manager,15319.65,1460.6375,6,...,1453.61,25.539990,11.10,Yes,28.182033,89.757305,Low_spent_Small_value_payments,NaN,Standard,4.0
99933,0x25f8b,CUS_0xb11c,June,Yinka Adegokej,38,546-94-4789,Manager,15319.65,1460.6375,6,...,1453.61,24.846424,11.20,Yes,28.182033,45.611718,High_spent_Small_value_payments,NaN,Standard,4.0
99934,0x25f8c,CUS_0xb11c,July,Yinka Adegokej,38,546-94-4789,Manager,15319.65,1460.6375,6,...,1453.61,38.987835,NaN,Yes,28.182033,70.241785,Low_spent_Large_value_payments,NaN,Poor,4.0
99935,0x25f8d,CUS_0xb11c,August,Yinka Adegokej,38,546-94-4789,_______,15319.65,1460.6375,6,...,1453.61,34.557510,11.40,Yes,28.182033,191.877779,Low_spent_Small_value_payments,NaN,Poor,4.0

In [53]:
##create function
#customner ID of person who has ---- in occupation
#   check for other occupation of that same person
#   if not ---- then replace occupation else impute null

# customner ID of person who has --- or null or abnormal value
# them check for same id where not null or not ---- and fill value form there
import warnings
warnings.filterwarnings('ignore')

In [54]:
df[df.Occupation == '_______'].shape

(7024, 29)

#for i in df.Customer_ID[df.Occupation == '_______']:
#    for j in df.Occupation[(df.Customer_ID ==i) & (df.Occupation != '_______')]:
#        df.Occupation[(df.Customer_ID == i) & (df.Occupation == '_______')] = j 
    #rint(i)

In [ ]:

job=""
for i in df.Customer_ID[df.Occupation == '_______']:
    job = df.Occupation[(df.Customer_ID ==i) & (df.Occupation != '_______')].unique()
    df.Occupation[df.Customer_ID == i] = job 
    #rint(i)

In [ ]:
#df.Occupation[df.Customer_ID == 'CUS_0x6649']
df.Occupation[(df.Customer_ID == 'CUS_0xbffe') & (df.Occupation != '_______')]

In [ ]:
#job = df.Occupation[(df.Customer_ID == 'CUS_0x6649') & (df.Occupation != '_______')]
#job
df.Occupation[df.Customer_ID == 'CUS_0x6649']

In [ ]:
Credit_Age = df[df.Credit_History_Age.isnull()]

In [ ]:
df.loc[df.Name == 'Langep', ['Customer_ID','Month', 'Credit_History_Age']]

In [ ]:
df.loc[df.Name == 'Aaron Maashoh', ['Customer_ID','Month', 'Credit_History_Age']]

In [ ]:
df.isnull().sum()

In [ ]:
df.Num_of_Delayed_Payment

In [ ]:
df.isnull().sum()

In [ ]:
# Credit_History_Age - Knn
# Num_of_Delayed_Payment, Num_Credit_Inquiry, Amount_Invested_Monthly, Monthly_Balance

In [ ]:
(df.isnull().sum()/df.shape[0])*100

In [ ]:
df.Credit_Utilization_Ratio.describe()

In [ ]:
df.Credit_Mix.value_counts()

In [ ]:
# Checking for the garbage values and taking necessary steps to clean it

df.Payment_Behaviour.value_counts()

In [ ]:
df[df["Payment_Behaviour"]=="!@9#%8"]

In [ ]:
df[df["Customer_ID"]=="CUS_0x2dbc"]

In [ ]:
#df[df["Customer_ID"]=="CUS_0x1cdb"]
df.loc[df.Customer_ID == 'CUS_0x1cdb', ['Customer_ID','Credit_Utilization_Ratio', 'Credit_Mix',"Payment_Behaviour"]]

# Trying to find pattern in order to fill the garbage value in Payment_Behaviour columns "!@9#%8"

In [ ]:
#df[df["Customer_ID"]=="CUS_0x95ee"]
df.loc[df.Customer_ID == 'CUS_0x95ee', ['Customer_ID','Credit_Utilization_Ratio', 'Credit_Mix',"Payment_Behaviour"]]

In [ ]:
df.Payment_Behaviour.value_counts(normalize=True)

In [ ]:
pb = ""
for i in df.Customer_ID[df["Payment_Behaviour"]=="!@9#%8"]:
    pb = df.Payment_Behaviour[df["Customer_ID"] ==i].mode()[0]
    df.Payment_Behaviour[(df["Customer_ID"] == i) & (df["Payment_Behaviour"]=="!@9#%8")] = pb

In [ ]:
# Successfully imputed the garbage values inside the Payment_Behaviour column

df.Payment_Behaviour.value_counts(normalize= True)

In [ ]:
#now the left value will be filled with mode of all the given value( As the garbage value is just 1.7%)

In [ ]:
df.Payment_Behaviour[df["Payment_Behaviour"]=="!@9#%8"] = df.Payment_Behaviour.mode()[0]

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df.Payment_Behaviour.value_counts(normalize= True)

In [ ]:
df.Credit_Mix.value_counts()

In [ ]:
df.tail()

In [ ]:
df.Credit_Mix.value_counts()

In [ ]:
df.Credit_Mix.value_counts(normalize=True)

In [ ]:
# Treating the garbage value in Credit_Mix columnn ("_")

cm = ""
for i in df.Customer_ID[df["Credit_Mix"]=="_"]:
    cm = df.Credit_Mix[df.Customer_ID == i].mode()[0]
    df.Credit_Mix[(df["Customer_ID"] == i) & (df["Credit_Mix"]=="_")] = cm

In [ ]:
df.Credit_Mix.value_counts(normalize= True)

In [ ]:
 df.Credit_Mix[df["Credit_Mix"]=="_"] =  df.Credit_Mix.mode()[0]

In [ ]:
df.Credit_Mix.value_counts(normalize= True)

In [ ]:
df.isnull().sum()

In [ ]:
#now we fix missing values
df.Amount_invested_monthly

In [ ]:
#we will fill it by knnimputer or deleting

In [ ]:
df.Monthly_Balance.value_counts()

In [ ]:
#df[(df.Monthly_Balance.isnull()) & (df.Customer_ID == 'CUS_0x942c')]
# we will fill this with KNNimputer

In [ ]:
df[df.Num_Credit_Inquiries.isnull()].head()
#KNN imputer and no has no garbeage

In [ ]:
df.isnull().sum()

In [ ]:
df[df.Num_of_Delayed_Payment.isnull()]

In [ ]:
df[df.Credit_History_Age.isnull()]
#it has no garbage value only missing so do knn imputer

In [ ]:
df.Customer_ID.nunique()

In [ ]:
df.ID.nunique()

In [ ]:
df.Outstanding_Debt.value_counts()

In [ ]:
df.Changed_Credit_Limit.value_counts()

In [ ]:
df.Changed_Credit_Limit = np.round(df.Changed_Credit_Limit,2)

In [ ]:
df.Changed_Credit_Limit.isnull().sum()
#we will impute this using KNN imputer

In [ ]:
#now we will drop the unnecessary and redundant columns

In [ ]:
df.isnull().sum()
df.drop(['Name','Monthly_Inhand_Salary','Num_of_Loan','Type_of_Loan','ID','SSN'],axis = 1,inplace= True)

In [ ]:
df.Num_of_loan2.isnull().sum()

In [ ]:
df.select_dtypes(include= np.number)

In [ ]:
df.select_dtypes(include= object)

In [ ]:
df.isnull().sum()
#all these null values will be filled with KNN imputer after all the absurd or junk values are dealt with

In [ ]:
df.head()

In [ ]:
df.Monthly_Balance.value_counts()

In [ ]:
cat_cols = ['Customer_ID','Month','Occupation','Credit_Mix','Payment_of_Min_Amount','Payment_Behaviour','Credit_Score',
            'Num_Bank_Accounts','Num_Credit_Card','Interest_Rate','Num_of_Delayed_Payment','Num_Credit_Inquiries',
           'Num_of_loan2']

In [ ]:
num_cols = ['Age', 'Annual_Income', 'Delay_from_due_date','Changed_Credit_Limit','Outstanding_Debt',
           'Credit_Utilization_Ratio', 'Credit_History_Age', 'Total_EMI_per_month',
           'Amount_invested_monthly', 'Monthly_Balance']

In [ ]:
df.Monthly_Balance[df.Monthly_Balance < 0] = np.nan

In [ ]:
##KNN imputer to fill num values

sc = StandardScaler()

In [ ]:
scaled_data = pd.DataFrame(sc.fit_transform(df[num_cols]),columns = num_cols)    

scaled_data.isnull().sum()

In [ ]:
scaled_data.Monthly_Balance.value_counts()

In [ ]:
from sklearn.impute import KNNImputer   

kn = KNNImputer()

In [ ]:
knn_imputer = pd.DataFrame(kn.fit_transform(scaled_data), columns = scaled_data.columns)

In [ ]:
knn_imputer.isnull().sum()

In [ ]:
new_data = pd.DataFrame(sc.inverse_transform(knn_imputer), columns = knn_imputer.columns)

In [ ]:
new_data.isnull().sum()

In [ ]:
cat_data = df[cat_cols]
cat_data.shape

In [ ]:
new_data.reset_index(drop=True, inplace=True)
cat_data.reset_index(drop=True, inplace=True)
# Concatenate them along columns (axis=1)
df1 = pd.concat([new_data,cat_data], axis=1)

In [ ]:
df1.Monthly_Balance.value_counts()

In [ ]:
df1.isnull().sum()

In [ ]:
#now we will fix num_credit_inquiries

df1.Num_Credit_Inquiries.value_counts()

In [ ]:


nci = ""
for i in df1.Customer_ID[df1.Num_Credit_Inquiries.isnull()]:
    nci = df1.Num_Credit_Inquiries[(df1.Customer_ID ==i) & (df1.Num_Credit_Inquiries.notnull())]
    df1.Num_Credit_Inquiries[(df1.Customer_ID == i) & (df1.Num_Credit_Inquiries.isnull())] = nci.mode()[0]

In [ ]:
df1.Num_Credit_Inquiries.value_counts()

In [ ]:

df1.Num_of_Delayed_Payment.value_counts()
#now we will treat delayed payment

In [ ]:
ndp = ""
for i in df1.Customer_ID[df1.Num_of_Delayed_Payment.isnull()]:
    ndp = df1.Num_of_Delayed_Payment[(df1.Customer_ID ==i) & (df1.Num_of_Delayed_Payment.notnull())]
    df1.Num_of_Delayed_Payment[(df1.Customer_ID == i) & (df1.Num_of_Delayed_Payment.isnull())] = ndp.mode()[0]

In [ ]:
df1.isnull().sum()

In [ ]:
#Univariate analysis

In [ ]:
##Now we will check for outliers using boxplot
t=1
plt.figure(figsize=(12,10))
for i in num_cols:
    plt.subplot(4,3,t)
    sns.boxplot(df1[i], orient='h')
    plt.title(i)
    t+=1
    
plt.tight_layout()
plt.show()

In [ ]:
t=1
plt.figure(figsize=(50,40))
for i in cat_cols:
    if i != 'Customer_ID':
        plt.subplot(4,3,t)
        sns.countplot(x=df1[i])
        plt.title(i)
        t+=1
    
plt.tight_layout()
plt.show()

# Outlier Treatment

In [ ]:
df1.describe().T

In [ ]:
# we have already done for num_of_loan2 , creadit_history_age in the above missing values segment.

In [ ]:
# as age has anomalous data we will try to check for age as value are absurd with ranging uptio 1000
#-----------for every name check other entries with same name----------

df1.Age[df1.Age < 100].unique()

In [ ]:
#now we will make these values null and try to impute them

# Doing Treatment for the age Column

df1.Age[df1['Age']>100] = np.nan

In [ ]:
df1['Age'].isnull().sum()

In [ ]:
df1.Age[df1.Age.isnull()]

In [ ]:
age=""
Age1=""
for i in df1.Customer_ID[df1.Age.isnull()]:
    age = df1.Age[(df1.Customer_ID ==i) & (df1.Age.notnull())]
    Age1 = age.to_list()
    df1.Age[df1.Customer_ID == i] = Age1[0]

In [ ]:
# successfully Treated the Null Valuedf.Age.isnull()]
df1.Age.isnull().sum()

In [ ]:
## Annual_income

In [ ]:
df1.Annual_Income.value_counts()
#here people have some

In [ ]:
df1[df1.Annual_Income < 0]

In [ ]:
#we will keep all these high values as people can earn such high incomes

In [ ]:
df1.Num_Bank_Accounts.value_counts()
#here we can see there are some junk values as a person cannot possibly have 887 or 1221 loans, so we will fix this

In [ ]:
df1[df1.Customer_ID == 'CUS_0x4004']

In [ ]:
df1.Num_Bank_Accounts[(df1.Num_Bank_Accounts > 10) | (df1.Num_Bank_Accounts <0)] = np.nan
#The average number of accounts can vary, but many individuals might have a combination of savings and checking accounts, 
#along with one or two other specialized accounts. 
#Keep in mind that these are general observations, So we have considered 10 as maximum Number of bank accounts.

In [ ]:
df1.Num_Bank_Accounts.isnull().sum()

In [ ]:
#now we will fill these values using customer id as done in above columns
df1.Num_Bank_Accounts[(df1.Customer_ID =='CUS_0x4004') & (df1.Num_Bank_Accounts.notnull())]

In [ ]:
nba=""
nba1=""
for i in df1.Customer_ID[df1.Num_Bank_Accounts.isnull()]:
    nba = df1.Num_Bank_Accounts[(df1.Customer_ID ==i) & (df1.Num_Bank_Accounts.notnull())]
    nba1 = nba.to_list()
    df1.Num_Bank_Accounts[df1.Customer_ID == i] = nba1[0]

In [ ]:
df1[df1.Customer_ID =='CUS_0x4004']

In [ ]:
df1.Num_Bank_Accounts.value_counts()
#now we have fixed num bank accounts

In [ ]:
#now we will work on num of credit cards

In [ ]:
df1[df1.Num_Credit_Card > 10]
#as we have taken 10 no of accounts so we will take 10 num of credit cards

In [ ]:
df1[df1.Num_Credit_Card < 0]
#no person  havong credit card < 0

In [ ]:
df1.Num_Credit_Card[df1.Num_Credit_Card > 10] = np.nan

In [ ]:
df1.Num_Credit_Card.isnull().sum ()

In [ ]:
ncc=""
ncc1=""
for i in df1.Customer_ID[df1.Num_Credit_Card.isnull()]:
    ncc = df1.Num_Credit_Card[(df1.Customer_ID ==i) & (df1.Num_Credit_Card.notnull())]
    ncc1 = ncc.to_list()
    df1.Num_Credit_Card[df1.Customer_ID == i] = ncc1[0]

In [ ]:
df1.Num_Credit_Card.value_counts()
#now we have fixed the garbage values in num credit card

In [ ]:
#now we will work oon interest rate
df1.Interest_Rate.value_counts()

In [ ]:
df1[df1.Interest_Rate > 32].shape[0]

In [ ]:
df1[df1.Interest_Rate > 33].shape[0]

In [ ]:
df1[df1.Interest_Rate > 34].shape[0]

In [ ]:
df1[df1.Interest_Rate > 35].shape[0]

In [ ]:
df1[df1.Interest_Rate > 36].shape[0]

In [ ]:
# as we can see after 34% interst rate  the no of entries is constant so we will procedd with 34% and above it all are junk

In [ ]:
df1.Interest_Rate[df1.Interest_Rate > 34] = np.nan

In [ ]:
df1.Interest_Rate.isnull().sum()

In [ ]:
df1[df1.Interest_Rate.isnull()]

In [ ]:
nic = ""
nic1 = ""
for i in df1.Customer_ID[df1.Interest_Rate.isnull()]:
    nic = df1.Interest_Rate[(df1.Customer_ID ==i) & (df1.Interest_Rate.notnull())]
    nic1 = nic.to_list()
    df1.Interest_Rate[df1.Customer_ID == i] = nic1[0]

In [ ]:
df1.Interest_Rate.isnull().sum()

In [ ]:
df1[df1.Customer_ID == 'CUS_0x95ee']

In [ ]:
df1.Delay_from_due_date.value_counts()

In [ ]:
df1[df1.Delay_from_due_date < 0]

In [ ]:
print(df1.Delay_from_due_date.max())
print(df1.Delay_from_due_date.min())
#This columns look good and all the values are justified so we will move ahead

In [ ]:
#now we will treat Num_of_Delayed_Payment

In [ ]:
df1[df1.Num_of_Delayed_Payment == 0]

In [ ]:
df1.Num_of_Delayed_Payment.isnull().sum()

In [ ]:
df1.Num_of_Delayed_Payment.value_counts()

In [ ]:
df1[df1.Num_of_Delayed_Payment > 28]
#after this the number of entries is constant so we will make everything above this null and impute them later with KNN

In [ ]:
df1.Num_of_Delayed_Payment[df1.Num_of_Delayed_Payment > 28] = np.nan

In [ ]:
# now we have fixed garbage values and rest nan will be filled by mode
df1.Num_of_Delayed_Payment.mode()[0]

In [ ]:
df1.Num_of_Delayed_Payment[df1.Num_of_Delayed_Payment.isnull()] = df1.Num_of_Delayed_Payment.mode()[0]

In [ ]:
df1[df1.Num_of_Delayed_Payment.isnull()]

In [ ]:
#now we will work on Changed credit limit

In [ ]:
df1[df1.Changed_Credit_Limit < 0]

In [ ]:
df1.Changed_Credit_Limit.value_counts()

In [ ]:
df1.Changed_Credit_Limit.max()

In [ ]:
df1.Changed_Credit_Limit.min()
#it looks good and we will proceed with it and move on

In [ ]:
df1.describe().T

In [ ]:
# now we will work on Num_Credit_Inquiries

In [ ]:
df1[df1.Num_Credit_Inquiries < 0]

In [ ]:
df1.Num_Credit_Inquiries.value_counts()

In [ ]:
df1.Num_Credit_Inquiries.max()

In [ ]:
df1[df1.Num_Credit_Inquiries > 17]
#after 17 the change in number of entries is almost constant so we will proceed with it and make other null

In [ ]:
df1.Num_Credit_Inquiries[df1.Num_Credit_Inquiries > 17] = np.nan
#now we have fixed garbage values and will impute them later with mode

In [ ]:
df1.Num_Credit_Inquiries[df1.Num_Credit_Inquiries.isnull()] = df1.Num_Credit_Inquiries.mode()[0]

In [ ]:
df1.Num_Credit_Inquiries.isnull().sum()

In [ ]:
##Now we will fix Outstanding Debt
df1[df1.Outstanding_Debt < 0]

In [ ]:
df1.Outstanding_Debt.value_counts()

In [ ]:
df1.Outstanding_Debt.min()

In [ ]:
df1.Outstanding_Debt.max()
#this column is fine and we will proceed

In [ ]:
#now we will work on Credit_Utilization_Ratio

df1[df1.Credit_Utilization_Ratio < 0]

In [ ]:
df1.Credit_Utilization_Ratio.value_counts()

In [ ]:
df1.Credit_Utilization_Ratio.min()

In [ ]:
df1.Credit_Utilization_Ratio.max() 
#this is fine and we will proceed further

In [ ]:
# now we will work on Credit_History_Age

df1[df1.Credit_History_Age < 0]

In [ ]:
df1.Credit_History_Age.value_counts()

In [ ]:
df1.Credit_History_Age.min()

In [ ]:
df1.Credit_History_Age.max()
#this is fine and we will proceed furter

In [ ]:
#now we will work on Total_EMI_per_month

df1[df1.Total_EMI_per_month < 0]

In [ ]:
df1.Total_EMI_per_month.value_counts()

In [ ]:
df1.Total_EMI_per_month.min()

In [ ]:
df1.Total_EMI_per_month.max()

In [ ]:
df1[df1.Total_EMI_per_month > 58638.000000]

In [ ]:
df1[df1.Customer_ID == 'CUS_0x942c']

In [ ]:
df1[df1.Customer_ID == 'CUS_0xc0ab']

In [ ]:
df1[df1.Customer_ID == 'CUS_0x5d6d']

In [ ]:
df1[df1.Total_EMI_per_month > 1000]

In [ ]:
df1[df1.Customer_ID == 'CUS_0x95ee']

In [ ]:
df1[df1.Customer_ID == 'CUS_0x284a']

###do later

In [ ]:
#now we will fix amount inversted monthly
df1[df1.Amount_invested_monthly < 0]

In [ ]:
df1.Amount_invested_monthly.value_counts()

In [ ]:
df1.Amount_invested_monthly.max()

In [ ]:
df1.Amount_invested_monthly.min()

In [ ]:
df1[df1.Amount_invested_monthly == 10000]

In [ ]:
df1[df1.Customer_ID == 'CUS_0x33d2']

In [ ]:
df1[df1.Customer_ID == 'CUS_0x1619']
#it look's and we will procceed further

In [ ]:
##now we will work on Monthly_Balance

df1.Monthly_Balance[df1.Monthly_Balance < 0] = np.nan

In [ ]:
df1.Monthly_Balance.value_counts()

In [ ]:
df1.Monthly_Balance.min()

In [ ]:
df1.Monthly_Balance.max()
#this is fine and we will proceed further

In [ ]:
# now we will work on num of loan

In [ ]:
df1[df1.Num_of_loan2 < 0]

In [ ]:
df1.Num_of_loan2.value_counts()
#this is fine and we will proceed futher

In [ ]:
df1.select_dtypes(object).columns

In [ ]:
df1.select_dtypes(include='number').columns

In [ ]:
df1.Annual_Income.value_counts().sort_index(ascending=False)

In [ ]:
df1.isnull().sum()

In [ ]:
df1["Amount_invested_monthly"][df1["Amount_invested_monthly"]==10000] = np.nan

In [ ]:
df1[df1["Amount_invested_monthly"].isnull()]

In [ ]:
aim = ""
for i in df1.Customer_ID[df1.Amount_invested_monthly.isnull()]:
    aim = df1.Amount_invested_monthly[(df1.Customer_ID ==i) & (df1.Amount_invested_monthly.notnull())]
    df1.Amount_invested_monthly[(df1.Customer_ID == i) & (df1.Amount_invested_monthly.isnull())] = aim.mean()

In [ ]:
df1[df1.Customer_ID == 'CUS_0x2dbc']

In [ ]:
df1["Amount_invested_monthly"].max()

In [ ]:
df1[df1["Customer_ID"]=="CUS_0xb891"]

In [ ]:
df1.Annual_Income[df1.Customer_ID =="CUS_0xb891"].mode()[0]

In [ ]:
df1[df1["Customer_ID"]=="CUS_0xbffe"] #CUS_0xd40 # CUS_0x942c #CUS_0x21b1

In [ ]:
df1[df1["Customer_ID"]=="CUS_0x51b3"]

In [ ]:
df1[df1["Customer_ID"]=="CUS_0x284a"]

In [ ]:
ai = ""
for i in df1.Customer_ID.unique():
    ai = df1.Annual_Income[df1.Customer_ID ==i]
    df1.Annual_Income[df1.Customer_ID == i] = ai.mode()[0]

In [ ]:
df1[df1["Customer_ID"]=="CUS_0xbffe"]

In [ ]:
df1[df1["Customer_ID"]=="CUS_0x51b3"]

In [ ]:
df1[df1["Customer_ID"]=="CUS_0x284a"]

In [ ]:
sns.boxplot(df1["Annual_Income"], orient='h')

In [ ]:
df1["Total_EMI_per_month"].max()

In [ ]:
df1["Total_EMI_per_month"].value_counts()

In [ ]:
df1[df1["Total_EMI_per_month"]>1000]

In [ ]:
df1[df1["Customer_ID"]=="CUS_0x95ee"]

In [ ]:
df1[df1["Customer_ID"]=="CUS_0x284a"]

In [ ]:
df1.Total_EMI_per_month.describe().T

In [ ]:
q1 = df1.Total_EMI_per_month.quantile(0.25)
q3 = df1.Total_EMI_per_month.quantile(0.75)

iqr =q3-q1

ul = iqr+5.0*q3
#ll = iqr+1.5*q3
ul

In [ ]:
df1.Total_EMI_per_month[df1.Total_EMI_per_month > ul]=np.nan

In [ ]:
tpm = ""
for i in df1.Customer_ID[df1.Total_EMI_per_month.isnull()]:
    tpm = df1.Total_EMI_per_month[(df1.Customer_ID ==i) & (df1.Total_EMI_per_month.notnull())]
    df1.Total_EMI_per_month[(df1.Customer_ID == i) & (df1.Total_EMI_per_month.isnull())] = tpm.mean()

In [ ]:
df1.Total_EMI_per_month.isnull().sum()

In [ ]:
df1[df1.Total_EMI_per_month.isnull()]

In [ ]:
df1.shape

In [ ]:
df1.dropna(subset= ['Total_EMI_per_month'],inplace= True)

In [ ]:
df1.Monthly_Balance.describe()

In [ ]:
df1.shape
df1.drop('Customer_ID',axis = 1,inplace= True)
cat_cols.remove('Customer_ID')

In [ ]:
t=1
plt.figure(figsize=(12,10))
for i in num_cols:
    plt.subplot(4,3,t)
    sns.boxplot(df1[i], orient='h')
    plt.title(i)
    t+=1
    
plt.tight_layout()
plt.show()

In [ ]:
df1.isnull().sum()

In [ ]:
#now we have fixed aLL THE VALUES and we will proceed with bivariate and univariate analysis

## Numerical with Categorical(Target) columns

In [ ]:
j=1
plt.figure(figsize=(20,30))
for i in num_cols:
    plt.subplot(5,2,j)
    sns.boxplot(x=df1[i], y=df1["Credit_Score"])
    plt.title(i)
    j+=1
    
plt.tight_layout()
plt.show()

In [ ]:
df1.Num_Bank_Accounts.value_counts()

## Categorical with Categorical(Target) column

In [ ]:
plt.figure(figsize=(20,40))
t = 1
for i in cat_cols:
    plt.subplot(6,2,t)
    sns.countplot(data=df1, x=i, hue='Credit_Score')
    t+=1
    plt.title(i)
    plt.xticks(rotation=60)
plt.tight_layout()
plt.show()

# Encoding

In [ ]:
df1.select_dtypes(include=np.number)

In [ ]:
df1.select_dtypes(include=object)

In [ ]:
df1["Credit_Score"].value_counts()

In [ ]:
cat_cols.remove("Credit_Score")

In [ ]:
df1['Credit_Score'] = df1['Credit_Score'].map({'Standard':1,'Poor':0,'Good':2})

In [ ]:
df1.Credit_Score

In [ ]:
df1["Credit_Score"].value_counts()

In [ ]:
df1.select_dtypes(include=object)

In [ ]:
cat_cols1 = ['Month','Occupation','Credit_Mix','Payment_of_Min_Amount','Payment_Behaviour']

In [ ]:
df1[cat_cols1]

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le = LabelEncoder()

In [ ]:
for i in cat_cols1:
    df1[i] = le.fit_transform(df1[i])
df1.head()

## Modelling

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x = df1.drop(['Credit_Score'],axis = 1)
y = df1.Credit_Score

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,
                                                test_size=0.20,
                                                random_state = 2,stratify=y)

In [ ]:
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

In [ ]:
ytrain.value_counts(normalize = True)

In [ ]:
ytest.value_counts(normalize= True)

In [ ]:
y.value_counts(normalize = True)

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,roc_curve,roc_auc_score, cohen_kappa_score

In [ ]:
from sklearn.metrics import f1_score

In [ ]:
def validation(test,pred):
    print('Accuracy Score:',accuracy_score(test,pred))
    print('Confusion Matrix:\n',confusion_matrix(test,pred))
    print('Classification report:\n',classification_report(test,pred))

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dt = DecisionTreeClassifier()

In [ ]:
dt.fit(xtrain,ytrain)

In [ ]:
y_pred_dt = dt.predict(xtest)

In [ ]:
validation(ytest,y_pred_dt)

In [ ]:
f1_score(ytest,y_pred_dt,average= 'weighted')

In [ ]:
cohen_kappa_score(ytest,y_pred_dt)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier()

In [ ]:
rf.fit(xtrain,ytrain)

In [ ]:
y_pred_rf = rf.predict(xtest)

In [ ]:
validation(ytest,y_pred_rf)

In [ ]:
###use gridserchCV with rf for better results AND Tuning

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
params = {'criterion' : ['gini','entropy'],
         'max_depth' : [3,4,5,6,7],
         'n_estimators' : [100,300,500]}

In [ ]:
gscv = GridSearchCV(estimator= RandomForestClassifier(),param_grid= params,scoring = 'f1',cv=3,verbose= 4)

In [ ]:
gscv.fit(xtrain,ytrain)

In [ ]:
gscv.best_params_

In [ ]:
rf = RandomForestClassifier(**gscv.best_params_)

In [ ]:
rf.fit(xtrain,ytrain)

In [ ]:
y_pred_rf = rf.predict(xtest)

In [ ]:
validation(ytest,y_pred_rf)

In [ ]:
cohen_kappa_score(ytest,y_pred_rf)

In [ ]:
from xgboost import XGBClassifier

In [ ]:
xg = XGBClassifier()

In [ ]:
xg.fit(xtrain,ytrain)

In [ ]:
y_prd_xg = xg.predict(xtest)

In [ ]:
validation(ytest,y_prd_xg)

In [ ]:
cohen_kappa_score(ytest,y_prd_xg)

In [ ]:
pd.DataFrame({'features' : xg.feature_importances_},index = xtrain.columns).sort_values(by = 'features',ascending= False)

In [ ]:
params = {'max_depth' : [3,4,5,6,7],
         'n_estimators' : [100,300,500]}

In [ ]:
gscv_xg = GridSearchCV(estimator= XGBClassifier(),param_grid= params,scoring = 'f1',cv=3,verbose= 4)

In [ ]:
gscv_xg.fit(xtrain,ytrain)

In [ ]:
gscv_xg.best_params_

In [ ]:
xg1 = XGBClassifier(**gscv_xg.best_params_)

In [ ]:
xg1.fit(xtrain,ytrain)

In [ ]:
y_prd_xg1 = xg.predict(xtest)

In [ ]:
validation(ytest,y_prd_xg1)

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
ad = AdaBoostClassifier()

In [ ]:
ad.fit(xtrain,ytrain)

In [ ]:
y_prd_ada = ad.predict(xtest)

In [ ]:
validation(ytest,y_prd_ada)

In [ ]:
cohen_kappa_score(ytest,y_prd_ada)

In [ ]:
#Xg boost is giving the best results